* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

html,
body,
#root {
  height: 100%;  
}

body {
  color: #ff9a81;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased !important;
  text-decoration: none;
}